/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  font-family: inherit;
}
/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 0 10rem;
  width: 100%;
}
.header div {
  font-size: 3rem;
  color: #fff;
  font-weight: ;
}
.main-nav {
  display: flex;
}
.main-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  color: #fff;
  font-size: 1.5rem;
  align-self: center;
  display: inline-block;
  padding: 2.8rem 2rem;
}
.nav-links:hover {
  background-color: red;
}
